<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="keymapxml" value="C:\Work\qmk_firmware\keyboard\ergodox_ez\keymaps\keymap_jelle.xml" />
    <add key="writeKeymapCCode" value="C:\Work\qmk_firmware\keyboard\ergodox_ez\keymaps\keymap_jelle.c" />
  </appSettings>
</configuration>